/* AddToCart.css */
.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #720a0a;
    padding: 20px;
    color: rgb(255, 255, 255);
    justify-content: center;
  }
  
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 600px; 
    overflow-y: auto;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 2px;
    border: 2px  rgb(255, 255, 255);
    /*border: 2px solid white; /* Add a white border */
    border-radius: 20px;
    background-color:black;
    color: white;
  }
  
  .menu-item img {
    width: 250px;
    height: 200px;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  
  
  
  .item-details {
    text-align: center;
    margin-bottom: 0px;
  }
  
  h4 {
    margin-top: 1px;
    margin-bottom: 1px; 
  }
  
  p {
    margin-top: 1px; 
    max-height: 50px; /*  maximum height for the description */
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  
  
  p.expanded {
    max-height: none;
  }
  
  .expanded-description {
    color: gray;
    margin-top: 5px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  button {
    background-color: #FF4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: black;
    color: #FF4500;
  }
  .button-space {
    width: 10px; 
  }
  
  